html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(0, 144, 10);
  font-family: 'Encode Sans Condensed', sans-serif;
  max-width: 100%;
  max-height: 100%;
}

body {
}

main {

}

footer {
  width: 100%;
  max-width: 100%;
  padding: 5px;
  display: block;
  position: fixed;
  background-color: rgb(0, 144, 10);
  bottom: 0;
}

a:link {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: rgb(23, 97, 0);
}

a:visited {
  color: rgb(10, 69, 23);
}
.park-map-app {
  /* color */
}

.app-title {
  margin-left: 5%;
  padding-top: 5px;
  display: flex;
}
.app-title a {
  color: #000000;

}

.logo-container a {
  width: 100%;
  /* float: right; */
  background-image: url('./icons/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
}

.logo {
  width: 400px;
  max-width: 30%;
}

.logo img {

}

h1 {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: normal;
}

.filter-results {
  margin-right: 10px;
  position: absolute;
  right: 0
}

.filter-results select {
  margin-left: 10px;
  margin-right: 10px;
}
input,
option {
  font-family: 'Encode Sans Condensed', sans-serif;
  cursor: pointer;
}
.menu.open {
  position: absolute;
  left: 0;
  width: 220px;
  height: 100%;
  background-color: rgb(0, 144, 10);
  padding: 5px 5px 5px 15px;
  z-index: 1;
  height: 497px;
  overflow-x: scroll;
  margin-top: 16px;
  margin-left: 15px;

}

.menu-button button {
  width: 6em;
  height: auto;
  background-color: transparent;
  margin-left: 10px;
  cursor: pointer;
  border: none;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
}

ul.park-list {
  list-style: none;
  cursor: pointer;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

.park-list li:hover {
  color: rgb(30, 240, 1)
}
.park-title.selected {
  color: rgb(30, 240, 1)
}
.park-data {
  display: none;
}
.information {
  /* width: 50%; */
}
.address {
  max-width: 120px;
}
.address-menu {
  display: none;
}
/* map */
.map-container {

}
